body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148865393.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
}
    
h2 {
    color: white; /* White text color */
    font-family: revert-layer;
}


.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color:palevioletred ;
}

input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    color: darkgreen; /* Dark text color */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
input[type="number"],
input[type="password"] {
    /* Other styles */
    caret-color: whitesmoke; /* Adjust caret color */
}