*{
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;

    
}
header{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
ul{
    float:right;
    list-style-type: none;
    color:grey;
}
ul li{ 
    color: white;
    gap: px;
    display:inline-flex;
    justify-content:space-around;
    font-size: 1.6rem;
    margin-right:10px;
 }
img{
    float: left;
}
.abc{

    padding-left:0%;
    text-shadow: 10%;
    color: darkred;
    
}
.mainhead{
    margin-top:10px;
     margin-left: 10px;
     padding-top: 0px;
 }
 .ab{
   text-align: center;
   color: darkred;
   padding-top: 0px;

 }
 .en{
    background-image: url(https://tse2.mm.bing.net/th?id=OIF.%2fikYe6gBBaJEC4wvUSBtbQ&pid=Api&P=0&h=180);
    background-repeat: no-repeat;
    background-size: 2800px 1300px;
    
 }
 .col li a{
    color:black;
 }
 .el{
    padding-left: 35%;
    color: black;
    font-size:1.3rem;

 }
 .hea{
    padding-left: 36%;
    color: darkred;
    font-size:3rem;
 }
 .column{
    float: left;
    width: 50%;
    height: 333px;
    color: black;
    font-size:1.3rem;
    padding-left: 20px;
    padding-right: 20px;
    border-block: 30px;
    margin-top: 30px;


 }
.tim{
    color: darkblue;
    font-size: 1.8rem;
    padding-left: 80px;
    background-color:white;
    margin-bottom: 30px;

}
.ti2{
    color:darkblue;
    font-size: 1.8rem;
    padding-left:140px;
    background-color:white;
    margin-bottom: 30px;
    padding-right: 30px;
}
.tab,.tab th,.tab td{
    border-collapse: collapse;
    border: 2px solid black;
    padding: 0px;
    color: darkblack;
}
.tab tr td{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.tab{
    margin-top: 20px;
}
.column p{
    padding-bottom: 20px;
}

